<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cat Menu</title>
  <link rel="stylesheet" href="{% static 'css/catmenustyles.css'%}">
</head>
 
<body>
  <div class="up">
  	<div class="catlines0">
  		<div class="imagesline">
  			<img class="image01" src="{% static 'img/cat01.jpg'%}">
  			<img class="image02" src="{% static 'img/cat02.jpg'%}">
  			<img class="image03" src="{% static 'img/cat03.jpg'%}">
  			<div class="namesline0">
  				<div class="namesline01"><p class="text3">Богдан</p></div>
  				<div class="namesline02"><p class="text3">Богдан</p></div>
  				<div class="namesline03"><p class="text3">Богдан</p></div>
  			</div>
  		</div>
  		<div class="textline"><p class="text4">"Есть мнение, что кошки и дрессировка понятия несовместимые. Ничего подобного, мой кот выдрессировал меня за пару дней"</p></div>
  	</div>
  	<div class="catlines1">
  		<div class="imagesline">
  			<img class="image11" src="{% static 'img/cat11.jpg'%}">
  			<img class="image12" src="{% static 'img/cat12.jpg'%}">
  			<img class="image13" src="{% static 'img/cat13.jpg'%}">
  			<div class="namesline1">
  				<div class="namesline11"><p class="text3">Богдан</p></div>
  				<div class="namesline12"><p class="text3">Богдан</p></div>
  				<div class="namesline13"><p class="text3">Богдан</p></div>
  			</div>
  		</div>
  		<div class="textline"><p class="text4">"Я изучил многих философов и многих кошек. Мудрость кошек неизмеримо выше"</p></div>
  	</div>
  	<div class="catlines2">
  		<div class="imagesline">
  			<img class="image21" src="{% static 'img/cat21.jpg'%}">
  			<img class="image22" src="{% static 'img/cat22.jpg'%}">
  			<img class="image23" src="{% static 'img/cat23.jpg'%}">
  			<div class="namesline1">
  				<div class="namesline21"><p class="text3">Богдан</p></div>
  				<div class="namesline22"><p class="text3">Богдан</p></div>
  				<div class="namesline23"><p class="text3">Богдан</p></div>
  			</div>
  		</div>
  		<div class="textline"><p class="text4">"Человек культурен настолько, насколько он способен понять кошку"</p></div>
  	</div>
  	<div class="catlines3">
  		<div class="imagesline">
  			<img class="image31" src="{% static 'img/cat31.jpg'%}">
  			<img class="image32" src="{% static 'img/cat32.jpg'%}">
  			<img class="image33" src="{% static 'img/cat33.jpg'%}">
  			<div class="namesline1">
  				<div class="namesline31"><p class="text3">Богдан</p></div>
  				<div class="namesline32"><p class="text3">Богдан</p></div>
  				<div class="namesline33"><p class="text3">Богдан</p></div>
  			</div>
  		</div>
  		<div class="textline"><p class="text4">"Коты не спрашивают, они просто берут все, что им надо"</p></div>
  	</div>
  	<div class="catlines4">
  		<div class="imagesline">
  			<img class="image41" src="{% static 'img/cat41.jpg'%}">
  			<img class="image42" src="{% static 'img/cat42.jpg'%}">
  			<img class="image43" src="{% static 'img/cat43.jpg'%}">
  			<div class="namesline1">
  				<div class="namesline41"><p class="text3">Богдан</p></div>
  				<div class="namesline42"><p class="text3">Богдан</p></div>
  				<div class="namesline43"><p class="text3">Богдан</p></div>
  			</div>
  		</div>
  		<div class="textline"><p class="text4">"С точки зрения кошки, самое уютное место в доме – это место, на котором в данный момент сидит хозяин"</p></div>
  	</div>
  </div>
  <div class="buttons">
    <a href="http://127.0.0.1:8000/" class="Catcafebutton">CATCAFE</a>
    <a href="http://127.0.0.1:8000/" class="Homebutton">Home</a>
    <a href="http://127.0.0.1:8000/menu" class="menubutton">Menu</a>
    <a href="http://127.0.0.1:8000/catmenu" class="Catmenu">Cat menu</a>
    <a href="http://127.0.0.1:8000/rent" class="Rentbutton">Rent</a>
  </div>
  <div class="basement">
    <div class = "textblock1"><p class="text2">© CATCAFE 2022  •   Ленина 40, Томск, Томская область   •   Тел: 71494563   •   Сайт создан для милых котиков!</p></div>
  </div>
</body>
</html>