<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Menu</title>
  <link rel="stylesheet" href="{% static 'css/style1.css'%}">
</head>
 
<body>
  
  <div class="up">
    <img class="image1" src="{% static 'img/coffe1.png'%}">
    <img class="image2" src="{% static 'img/coffe2.png'%}">
    <img class="image3" src="{% static 'img/coffe3.png'%}">
    <div class="menunames">
      <div class="menutextblocks1">
        <p class="textmenuprice1">Coffee</p>
      </div>
      <div class="menutextblocks2">
        <p class="textmenuprice1">Tea</p>
      </div>
      <div class="menutextblocks3">
        <p class="textmenuprice1">Desserts</p>
      </div>
    </div>
    <div class="Menu">
      <div class="menublockleft">
        <p class="textmenu">Espresso</p>
        <p class="textmenu">Double espresso</p>
        <p class="textmenu">Americano</p>
        <p class="textmenu">Latte</p>
        <p class="textmenu">Cappuccino</p>
      </div>
      <div class="menublockleftprice">
        <p class="textmenuprice">150 ₽</p>
        <p class="textmenuprice">190 ₽</p>
        <p class="textmenuprice">170 ₽</p>
        <p class="textmenuprice">170 ₽</p>
        <p class="textmenuprice">180 ₽</p>
      </div>
      <div class="menublockcenter">
        <p class="textmenu">Black tea</p>
        <p class="textmenu">Green tea</p>
        <p class="textmenu">Herbal tea</p>
        <p class="textmenu">Red tea</p>
      </div>
      <div class="menublockcenterprice">
        <p class="textmenuprice">220 ₽</p>
        <p class="textmenuprice">160 ₽</p>
        <p class="textmenuprice">130 ₽</p>
        <p class="textmenuprice">120 ₽</p>
      </div>
      <div class="menublockright">
        <p class="textmenu">Banana Split</p>
        <p class="textmenu">Fresh Strawberries</p>
        <p class="textmenu">Ice Cream</p>
        <p class="textmenu">Pancakes</p>
        <p class="textmenu">Apple Strudel</p>
      </div>
      <div class="menublockrightprice">
        <p class="textmenuprice">150 ₽</p>
        <p class="textmenuprice">180 ₽</p>
        <p class="textmenuprice">160 ₽</p>
        <p class="textmenuprice">130 ₽</p>
        <p class="textmenuprice">110 ₽</p>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a href="http://127.0.0.1:8000/" class="Catcafebutton">CATCAFE</a>
    <a href="http://127.0.0.1:8000/" class="Homebutton">Home</a>
    <a href="http://127.0.0.1:8000/menu" class="menubutton">Menu</a>
    <a href="http://127.0.0.1:8000/catmenu" class="Catmenu">Cat menu</a>
    <a href="http://127.0.0.1:8000/rent" class="Rentbutton">Rent</a>
  </div>
  <div class="basement">
    <div class = "textblock1"><p class="text2">© CATCAFE 2022  •   Ленина 40, Томск, Томская область   •   Тел: 71494563   •   Сайт создан для милых котиков!</p></div>
  </div>
</body>
</html>