@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://allfont.ru/allfont.css?fonts=sorts-mill-goudy');
html, body{
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.buttons{
	position: absolute;
	width: 100%;
	height: 10%;
	background-color: black;
}

.Catcafebutton{
position: absolute;
width: 329px;
height: 110px;
left: 0px;
top: 0px;
background: (0,0,0,0);
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 59px;
display: flex;
align-items: center;
justify-content: center;
text-decoration-line: none;
font-variant: small-caps;
color: #FFFFFF;

}

.Homebutton{
position: absolute;
width: 329px;
height: 110px;
left: 20%;
top: 4px;
background: (0,0,0,0);
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
justify-content: center;
text-decoration-line: none;

color: #FFFFFF
}

.Catmenu{
position: absolute;
width: 329px;
height: 110px;
left: 60%;
top: 4px;
background: (0,0,0,0);
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
justify-content: center;
text-decoration-line: none;
color: #FFFFFF
}

.Rentbutton{
position: absolute;
width: 280px;
height: 110px;
left: 80%;
top: 4px;
background: (0,0,0,0);
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
justify-content: center;
text-decoration-line: none;
color: #FFFFFF

}

.menubutton{
	position: absolute;
width: 329px;
height: 110px;
left: 40%;
top: 4px;
background: (0,0,0,0);
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
justify-content: center;
text-decoration-line: underline;text-decoration-line: underline;
color: #FFFFFF;
}

.up{
	position: absolute;
	width: 100%;
	height: 110%;
	top: 10%;
	background-color: black;
}

.image1{
	position: absolute;
	width: 28%;
	height: 50%;
	left: 3%;
	top: 2%;
}
.image2{
	position: absolute;
	width: 26%;
	height: 45%;
	left: 36.75%;
	top: 5%;
}
.image3{
	position: absolute;
	width: 29%;
	height: 50%;
	left: 66.75%;
	top: 3%;
}

.menunames{
	position: absolute;
	width: 100%;
	height: 10%;
	top: 58%;	
	background: black;
}
.menutextblocks1{
	position: absolute;
	width: 31%;
	height: 100%;
	background: black;
}
.menutextblocks2{
	position: absolute;
	width: 33%;
	height: 100%;
	left: 31.7%;
	background: black;
}	
.menutextblocks3{
	position: absolute;
	width: 33%;
	height: 100%;
	left: 65%;
	background: black;
}		

.Menu{
	position: absolute;
	width: 100%;
	height: 47%;
	top: 68%;
	background-color: black;
}

.menublockleft{
	position: absolute;
	width: 20%;
	height: 100%;
	left: 2.5%;
	background: (0,0,0,0);
}
.menublockleftprice{
	position: absolute;
	width: 10%;
	height: 100%;
	left: 22.5%;
	background: (0,0,0,0);
}

.menublockcenter{
	position: absolute;
	width: 20%;
	height: 100%;
	left: 35%;
	background: (0,0,0,0);
}
.menublockcenterprice{
	position: absolute;
	width: 10%;
	height: 100%;
	left: 55%;
	background: (0,0,0,0);
}

.menublockrightprice{
	position: absolute;
	width: 10%;
	height: 100%;
	left: 87.5%;
	background: (0,0,0,0);
}

.menublockright{
	position: absolute;
	width: 20%;
	height: 100%;
	left: 67.5%;
	background: (0,0,0,0);
}

.textmenu{
white-space: normal;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
background: rgba(0,0,0,0);
color: #FFFFFF;
}

.textmenuprice{
white-space: normal;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 20px;
display: flex;
align-items: center;
justify-content: center;
background: rgba(0,0,0,0);
color: #FFFFFF;
}

.textmenuprice1{
white-space: normal;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 20px;
display: flex;
align-items: center;
justify-content: center;
background: rgba(0,0,0,0);
color: #FFFFFF;
text-decoration: underline;
}

.basement{
position: absolute;
background-color: #170000;
width: 100%;
height: 20%;
left: 0%;
top: 125%;
}
.textblock1{
position: absolute;
width: 60%;
height:10%;
left: 22%;
top: 25%;
background: #170000;;
}
.text2{
white-space: normal;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 90%;
line-height: 100%;
display: flex;
align-items: center;
text-align: center;
background: #170000;;
color: #FFFFFF;
}
